.post-share {
  position: absolute;
  right: 35px;
  top: -21px;
  z-index: 2;
}
.post-share-fab {
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: main-color !important;
  background: #eceef8;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
.post-share-list {
  position: absolute;
  top: 3px;
  right: 42px;
  width: 300px;
  visibility: hidden;
}
.post-share-list.in {
  visibility: visible;
}
.post-share-list.in .share-icons a {
  opacity: 1;
}
.post-share-list .share-icons li {
  display: inline-block;
  margin-left: 10px;
}
.post-share-list .share-icons .icon-square:before {
  display: inline-block;
  text-align: center;
  color: rgba(0,0,0,0);
  border-radius: 0.2em;
}
.post-share-list .share-icons a {
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 1.3em;
  border-radius: 50%;
  opacity: 1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.post-share-list .share-icons a.weibo {
  background: #e6162d;
}
.post-share-list .share-icons a.qq {
  background: #3d95d5;
}
.post-share-list .share-icons a.weixin {
  background: #2bad13;
}
.post-share-list .share-icons a.facebook {
  background: #4862a3;
}
.post-share-list .share-icons a.twitter {
  background: #55acee;
}
.post-share-list .share-icons a.google {
  background: #db4437;
}
.post-share-list .share-icons a:hover:after {
  top: -32px;
  right: -2px;
  color: #fff;
  background: main-color;
  font-size: 14px;
  content: attr(data-title);
  display: block;
  padding: 2px 5px;
  position: absolute;
  white-space: nowrap;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  z-index: 10;
  line-height: 21px;
}
.post-share-list .share-icons a:hover:before {
  top: -7px;
  right: 12px;
  border: solid;
  border-color: main-color transparent;
  border-width: 5px 5px 0 5px;
  content: "";
  display: block;
  position: absolute;
  z-index: 20;
}
.wx-share p {
  margin: 0 0 15px;
  font-size: font-size;
}
.wx-share img {
  width: 200px;
}
.mask {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mask.in {
  visibility: visible;
  pointer-events: auto;
  opacity: 0.3;
}
